<%= form_for(@relationship) do |f| %>
  <% if @relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
      <% @relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :relationship_type %><br />
    <%= f.number_field :relationship_type %>
  </div>
  <div class="field">
    <%= f.label :from_id %><br />
    <%= f.number_field :from_id %>
  </div>
  <div class="field">
    <%= f.label :to_id %><br />
    <%= f.number_field :to_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
